<%= form_for @semester do |f| %>
  <% if @semester.errors.any? %>
    <ul>
      <% @semester.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row">
    <div class="col-3">
      <%= f.label :title, "Semester" %>
      <%= f.text_area :title %>
    </div>
  </div>

<div class="row">
  <div class="field">
    <%= f.submit class: 'btn semester-color'%>
  </div>
</div>
<% end %>
