<%= form_for @topic do |f| %>

<div class="form-section">
  <%= f.label :name, "Topic" %>
  <%= f.text_area :name %>
  <%= f.fields_for :categories do |builder| %>
  <%= render "shared/category_form", f: builder %>
  <% end %>
  <div class="actions">
  	<%= f.submit %>
  </div>
</div>

<% end %>