<%= form_for @topic do |f| %>
  <% if @topic.errors.any? %>
    <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<div class="row">
  <div class="col-3">
  <%= f.label :name, "Topic" %>
  <%= f.text_field :name %>
  </div>
</div>

<div class="row">
  <%= f.fields_for :categories do |builder| %>
  <%= render "shared/category_form", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Category", f, :categories %>
</div>

<div class="field">
  <%= f.submit class: 'btn topic-color'%>
</div>

<% end %>
