<h2>Update your password</h2>

<%= form_tag password_changed_users_path, method: :post do %>
<div class="form-section">
  <div class="field">
    <%= label_tag "Password" %>
    <%= password_field_tag "user[password]" %>
  </div>
  <br>
  <div class="field">
    <%= label_tag "Confirm Password" %>
    <%= password_field_tag "user[password_confirmation]" %>
  </div>
  <div class="field">
  <%= submit_tag "Reset password", class: 'button danger'  %>
</div>
</div>
<% end %>
