<div class="wrapper row">
<div class="col-12 row">
  <% @games.each do |game| %>
    <div class="col-6">
      <%= game.topic.name %> | <%= link_to game.created_at.strftime("%B %d, %Y") , [current_user, game] %>
      <div class="row">
        <% game.members.each do |member| %>
          <div class="col-6">
            <strong><%= member.memberable.name %></strong><br />
            <% if member.memberable_type == "Team" %>
              <% member.memberable.players.each do |player| %>
                <%= player.name %><br />
              <% end %>
            <% end %>
          </div>
        <%end %>
      </div>
    </div>
  <% end %>
</div>

<hr>

<div class="row">
  <div class="col-9">
    <%= link_to "New Game", new_user_game_path(@user), class: 'button danger' %>
    <%= link_to "Clues", clues_path, class: 'button lila' %>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col-3">
      <h5>Topics</h5>
      <div class="table-limited-size">
      <table>
        <tbody>
          <% @topics.each do |topic| %>
          <tr>
            <td><%= topic.name %></td>
            <td><%= link_to "Edit", edit_topic_path(topic) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <div class="row">
        <%= link_to "Create Topic", new_topic_path, class: 'button primary' %>
      </div>
    </div>
    <div class="col-3">
      <h5>Categories</h5>
      <div class="table-limited-size">
      <table>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to "Edit", edit_category_path(category) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <div class="row">
        <%= link_to "Create Category", new_category_path, class: 'button success' %>
      </div>
    </div>
    <div class="col-3">
      <h5>Semesters</h5>
      <div class="table-limited-size">
      <table>
        <tbody>
          <% @semesters.each do |semester| %>
          <tr>
            <td><%= semester.title %></td>
            <td><%= link_to "Edit", edit_semester_path(semester) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <div class="row">
        <%= link_to "Create Semester", new_semester_path, class: 'button warning' %>
      </div>
    </div>
    <div class="col-3">
      <h5>About Us</h5>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Patricio Beltrán</td>
            <td>A01175557</td>
          </tr>
          <tr>
            <td>Adrián Lozano</td>
            <td>A00812725</td>
          </tr>
          <tr>
            <td>Iliana García</td>
            <td>A01191428</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <span class="col-4" style="text-align: left;">Jeopardy</span>
  <span class="col-4" style="text-align: center;">
    ©
    2014
    DAW
  </span>
  <span class="col-4" style="text-align: right;">Team 8</span>
</div>
</div>
