<%= form_for [current_user, @game] do |f| %>
  <% if @game.errors.any? %>
    <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.fields_for :topic do |builder| %>
    <%= render "shared/topic_form", f: builder %>
  <% end %>
  <%= f.fields_for :semester do |builder| %>
    <fieldset>
      <%= builder.label :title, "Semester" %><br />
      <%= builder.text_field :title %><br />
      <%= builder.hidden_field :_destroy %>
    </fieldset>
  <% end %>
  <%= f.submit %>
<% end %>
