<h5>New Team</h5>
<div class="form-section">
  <%= form_tag added_player_user_game_path(current_user, @game), remote: true do %>
  <div class="field">
    <%= hidden_field_tag "member[type]", "team" %>
    <%= label_tag "member[name]", "Name" %>
    <%= text_field_tag "member[name]" %>
  </div>
  <div class="field">
  <%= submit_tag "Add", class: 'button' %>
</div>
<% end %>
</div>
