<h2> <%= @game.topic.name %> | Jeopardy Game </h2>
<h4> Date: <%= @game.created_at.strftime("%B %d, %Y") %> </h4>

<div class="row">
  <% if @game.report.present? %>
    <%= link_to "Report", @game.report, class: 'button' %>
  <% else %>
    <%= link_to "Edit", edit_user_game_path(current_user, @game), class: 'button warning' %>
    <%= link_to "Play!", add_players_user_game_path, class: 'button' %>
  <% end %>
</div>
<hr />
<div>
  <div>
    <% @game.members.each do |member| %>
      <%= member.memberable.name %>
      <div>
      <% if member.memberable_type == "Team" %>
        <% member.memberable.players.each do |player| %>
          <%= player.name %>
        <% end %>
      <% end %>
    </div>
    <%end %>
  </div>
  <div class="row">
    <div class="col-4 offset-4">
    <% @game.topic.categories.each do |category| %>
    <table>
      <thead>
        <tr>
          <th style="width:90%;"><%= category.name %></th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <% category.clues.each do |clue| %>
        <tr>
          <td><%= clue.title %></td>
          <td><%= clue.points %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  </div>
</div>
