<h2> <%= @game.topic.name %> | Jeopardy Game </h2>
<h4> Date: <%= @game.created_at.strftime("%B %d, %Y") %> </h4>

<div class="row">
  <%= link_to "Edit", edit_user_game_path(current_user, @game), class: 'button warning' %>
  <%= link_to "Play!", add_players_user_game_path, class: 'button' %>
</div>
<hr />

  
<div class="row">
  <div class="col-2 offset-2">
    <h5>Teams</h5>
    <% @game.members.each do |member| %>
    <table>
      <thead>
        <tr>
          <th><%= member.memberable.name %></th>
        </tr>
      </thead>
      <tbody>
        <% if member.memberable_type == "Team" %>
        <% member.memberable.players.each do |player| %>
        <tr>
          <td>
            <%= player.name %>
          </td>
        </tr>
        <% end %>
            <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  <div class="col-4 offset-2">
    <h5>Clues</h5>
  <% @game.topic.categories.each do |category| %>
  <table>
    <thead>
      <tr>
        <th style="width:90%;"><%= category.name %></th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <% category.clues.each do |clue| %>
      <tr>
        <td><%= clue.title %></td>
        <td><%= clue.points %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
</div>