<%= form_for @category do |f| %>

<div class="form-section">
  <%= f.label :name, "Category" %>
  <%= f.text_field :name %>
  <%= f.label :topic_id, "Topic" %>
  <%= f.select(:topic_id, @topics.map{|a| [a.name, a.id]}.unshift(["", ""])) %>
  <%= f.fields_for :clues do |builder| %>
    <%= render "shared/clue_form", f: builder %>
  <% end %>
  <div class="actions">
  	<%= f.submit %>
  </div>
</div>

<% end %>
