<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
 <%= f.label :name, "Category" %>
  <%= f.text_field :name %>
  <%= f.label :topic_id, "Topic" %>
  <%= f.select(:topic_id, @topics.map{|a| [a.name, a.id]}.unshift(["", ""])) %>
  <%= f.fields_for :clues do |builder| %>
    <%= render "shared/clue_form", f: builder %>
  <% end %>
  <%= f.submit %>
<% end %>
