<%= form_for @clue do |f| %>
  <% if @category.errors.any? %>
    <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.label :title, "Clue" %>
  <%= f.text_field :title %>
  <%= f.label :points, "Points" %>
  <%= f.text_field :points %>
  <%= f.label :question, "Question" %>
  <%= f.text_field :question %>
  <%= f.label :category_id, "Category" %>
  <%= f.select(:category_id, @categories.map{|a| [a.name, a.id]}.unshift(["", ""])) %>
  <%= f.submit %>
<% end %>
